html,
body {
  font-family: "Tajawal" sans-serif;
  background-color: grey;
}
#logo-text {
  color: blue;
}
.main-text,
.secondary-text {
  background-color: red;
}

h3 {
  color: rgb(235, 215, 235);
  border: 2px solid black;
  margin: auto;
}
.div_c h1 {
  color: saddlebrown;
}
p {
  color: turquoise;
  background-color: thistle;
  font-size: 20px;
  padding-left: 10px;
  margin-left: 20px;
}
span {
  color: yellow;
  font-weight: 100;
  text-transform: lowercase;
  text-decoration: line-through;
}
a[href="https://google.com"]
{
  color: green;
}
.hover_me:hover {
  color: green;
}
a[href="https://google.com"]:visited
{
  color: indigo;
}
